.calculator{
  width: 320px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: gray;
}

#answer {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  font-size: 35px;
  background-color: #e3f2fd;
  border: 2px solid #333;
}

#answer::placeholder{
  color: black;
}

#answer:focus{
  outline: none;
}

.button{
  width: 25%;
  height: 80px;
  font-size: 30px;
  border: 1px solid black;
  background-color: #333;
  color: white;
  transition: all .3s;
}

.button.clicked{
  scale: .85
}

.button0,
.button:last-of-type {
  width: 50%;
}

@media screen and (max-width: 576px) {
  .calculator{
    width: 75%;
  }
}