.logo{
  width: 30px;
  aspect-ratio: 1;
}

header .ad-link{
  display: inline-block !important;
  font-size: .9rem;
}

@media screen and (min-width: 576px) {
  header .ad-link{
    font-size: 1.25rem;
  }
  .logo{
    width: 60px;
  }
}